body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #FDD;
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the body takes up full width */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }

  .content-wrapper {
    width: 100%; 
    max-width: 100%; /* Prevent any overflow */
    box-sizing: border-box; /* Include padding in the width calculation */
    overflow-x: hidden;
}

/* For Text Responsiveness */
p, h1, h2, h3, div {
  overflow-wrap: break-word; 
  word-wrap: break-word;
}

/* For Text Responsiveness */
h1 {
  font-size: 4vw; 
}

/* For Text Responsiveness */
p {
  font-size: 2.5vw;
}
  
  .tabs {
    display: flex;
    flex-wrap: wrap; 
    background-color: #E75480;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .tab {
    display: flex;
    flex: 1 1 auto; 
    padding: 1px;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;
    background-color: #ffbdbd;
    color: #fff;
    cursor: pointer;
  }

  .tab img {
    width: 10px;  
    height: 10px;
    margin-bottom: 2px;  
  }
  
  .tab:hover {
    background-color: #faa5a5;
  }
  
  .content {
    display: none;
    padding: 20px;
  }
  
  .active {
    display: block;
  }
  
  .scroll-text {
    height: 600px;
    overflow-y: scroll;
  }
  
  .choices {
    padding: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
  }

  #todo_list_add {
    background-color: #000080;
    color: wheat;
    height: 40px;
    width: 50px;
    text-align: center;
  }

  #todo_input {
    height: 40px;
    width: 100px;
    
  }
  
  .yellow-on-black-text {
    color: yellow;
    background-color: black;
  }
  
  .purple-on-yellow-text {
    color: purple;
    background-color: yellow;
  }
/*   
  .lr-position {
    position: fixed;
    right: 10px; 
    bottom: 50px; 
    text-align: right; 
    padding: 10px; 
  } */

  .profile-image {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
    border-radius: 10px;
  }

  .profile-caption {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
  }

  .profile-warning {
    background-color: #8B0000;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    position: relative; 
  }

  .exit-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
  }
