body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #FDD;
    display: flex;
    flex-direction: column;
  }

  
  .tabs {
    display: flex;
    background-color: #E75480;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .tab {
    display: flex;
    flex: 1;
    padding: 7px;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;
    background-color: #ffbdbd;
    color: #fff;
    cursor: pointer;
  }

  .tab img {
    width: 10px;  
    height: 10px;
    margin-bottom: 2px;  
  }
  
  .tab:hover {
    background-color: #faa5a5;
  }
  
  .content {
    display: none;
    padding: 20px;
  }
  
  .active {
    display: block;
  }
  
  .scroll-text {
    height: 600px;
    overflow-y: scroll;
  }
  
  .choices {
    padding: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
  }

  #todo_list_add {
    background-color: #000080;
    color: wheat;
    height: 10px;
    width: 20px;
    text-align: center;
  }

  #todo_input {
    height: 10px;
    width: 10px;
    
  }
  
  .yellow-on-black-text {
    color: yellow;
    background-color: black;
  }
  
  .purple-on-yellow-text {
    color: purple;
    background-color: yellow;
  }
  
  .lr-position {
    position: fixed;
    right: 10px; 
    bottom: 50px; 
    text-align: right;
    padding: 10px; /* Reduce padding */
}