
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@1,400&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    background-color: #F3F8F2; 
    margin: 20px;
}

.container {
    width: 600px;
    margin: auto;
}

h1 {
    font-size: 35pt;
    font-style: italic;
    color: #0B0014;
    text-align: center;
}

h2 {
    font-size: 24pt;
    font-style: italic;
    color: #0B0014; 
    text-align: center;
}

p, label, input, select {
    font-size: 15pt;
    font-family: 'Libre Baskerville', serif;
}

.add-btn {
    padding: 10px 15px;
    background-color: #19647E; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-size: 15pt;
}

.add-btn:hover {
    background-color: #0B0014; 
}


.remove-btn {
    padding: 8px 12px;
    background-color: #C84630; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-self: end;
    align-self: center;
    font-size: 15pt;
}

.remove-btn:hover {
    background-color: #0B0014; 
}


.personal-list, .communal-list {
    background-color: #F3F8F2; 
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #0B0014; 
    margin-bottom: 20px;
}

.shopping-item-grid-container {
    background-color: #F3F8F2; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0B0014; 
    margin-bottom: 20px;
}

.shopping-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
    align-items: center;
}

.shopping-item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shopping-item-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.shopping-item-group input {
    padding: 8px;
    font-size: 14px;
}
